BODY {
	BACKGROUND: #044d82; COLOR: #053561; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 0.9em "Trebuchet MS",verdana, sans-serif; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: table; PADDING-RIGHT: 0px; WIDTH: 100%
}
A:link {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:focus {
	TEXT-DECORATION: underline
}
#headWrapper {
	BACKGROUND: url(/images/headBg.jpg) no-repeat center top
}
#head {
	MARGIN: 0px auto; WIDTH: 900px
}
#content {
	MARGIN: 0px auto; WIDTH: 900px
}
#foot {
	MARGIN: 0px auto; WIDTH: 900px
}
#head {
	POSITION: relative
}
#contentWrapper {
	BACKGROUND: url(/images/contentWrapper.jpg) no-repeat center top; MIN-HEIGHT: 675px
}
#contentBg {
	BACKGROUND: url(/images/contentWrapperRepeat.jpg) repeat-y center top
}
.clr {
	CLEAR: both
}
#annual {
	FONT-SIZE: 24px; FLOAT: left; COLOR: #ffd457; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 23px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; WIDTH: 161px
}
#annual P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#annual .block-region {
	FONT-SIZE: 12px; COLOR: #000
}
.block-region {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#annual STRONG {
	FONT-SIZE: 120%
}
#annual .smaller {
	FONT-SIZE: 49%
}
#head H1 {
	MARGIN: 0px 0px 0px 201px
}
#sidebar {
	FLOAT: left; COLOR: #fff; WIDTH: 201px
}
#sidebar A:link {
	COLOR: #ffd457; TEXT-DECORATION: none
}
#sidebar A:visited {
	COLOR: #ffd457; TEXT-DECORATION: none
}
#mainContent {
	FONT-FAMILY: "Helvetica Neue", arial,sans-serif; BACKGROUND: #fff; PADDING-BOTTOM: 15px; PADDING-TOP: 7px; PADDING-LEFT: 15px; MARGIN: 0px 37px 0px 203px; PADDING-RIGHT: 15px; opacity: 0.9
}
#mainContent H1 {
	FONT-SIZE: 1.9em; MARGIN: 0px 0px 10px
}
#home #mainContent {
	BACKGROUND: #053561; COLOR: #fff; MARGIN: 0px 37px 0px 202px
}
#home #mainContent A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
#home #mainContent A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
#home #mainContent A:hover {
	TEXT-DECORATION: underline
}
#home #mainContent A:focus {
	TEXT-DECORATION: underline
}
#mainContent .content A:link {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: none
}
#mainContent .content A:visited {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: none
}
#mainContent .content A:hover {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: underline
}
#mainContent .content A:focus {
	FONT-WEIGHT: bold; COLOR: #053561; TEXT-DECORATION: underline
}
#mainContent .content IMG {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.block-user {
	MARGIN: 15px
}
#block-user-0 H2 {
	DISPLAY: none
}
.node-form .standard {
	CLEAR: none
}
.profile {
	CLEAR: none
}
#user-login-form {
	DISPLAY: none
}
#block-user-1 {
	OVERFLOW: auto; BACKGROUND: #053561; RIGHT: 10px; POSITION: fixed; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; Z-INDEX: 1000; TOP: 10px; PADDING-RIGHT: 5px; MAX-HEIGHT: 550px; WIDTH: 190px; -moz-box-shadow: 5px 5px 20px #555; -webkit-box-shadow: 5px 5px 20px #555; box-shadow: 5px 5px 20px #555
}
LI.expanded {
	LIST-STYLE-IMAGE: url(/images/new-expanded.png)
}
LI.collapsed {
	LIST-STYLE-IMAGE: url(/images/new-collapsed.png)
}
#block-user-1 H2 {
	MARGIN: 0px
}
UL.nice-menu {
	FONT-SIZE: 108%; MARGIN: 10px 0px 10px 1px; LETTER-SPACING: 1px
}
UL.nice-menu {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
UL.nice-menu UL {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
UL.nice-menu LI {
	BORDER-TOP-STYLE: none; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: right; BORDER-RIGHT-STYLE: none
}
UL.nice-menu LI A {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; DISPLAY: block; LETTER-SPACING: 0px; PADDING-RIGHT: 25px
}
UL.nice-menu UL LI {
	TEXT-ALIGN: left
}
UL.nice-menu-right LI.menuparent {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.nice-menu-right LI LI.menuparent {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.nice-menu-right LI A:hover {
	BACKGROUND: #053561
}
UL.nice-menu-right LI.over A {
	BACKGROUND: #053561
}
UL.nice-menu-right LI.menuparent {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.nice-menu-right LI LI.menuparent {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.nice-menu-right LI.menuparent:hover {
	BACKGROUND: #053561
}
UL.nice-menu-right LI.over {
	BACKGROUND: #053561
}
UL.nice-menu-right LI LI.menuparent:hover {
	BACKGROUND: #053561
}
UL.nice-menu-right LI LI.over {
	BACKGROUND: #053561
}
UL.nice-menu-right {
	WIDTH: 202px
}
UL.nice-menu-left {
	WIDTH: 202px
}
UL.nice-menu-right LI {
	WIDTH: 202px
}
UL.nice-menu-left LI {
	WIDTH: 202px
}
UL.nice-menu-right UL {
	BACKGROUND: #053561; LEFT: 202px; TOP: 0px; -moz-box-shadow: 5px 5px 10px #2b2b2b; -webkit-box-shadow: 5px 5px 10px #2b2b2b; box-shadow: 5px 5px 10px #2b2b2b
}
UL.nice-menu UL LI {
	WIDTH: 200px
}
UL.nice-menu-right UL {
	WIDTH: 200px
}
#sidebar LI A.active {
	BACKGROUND: #053561
}
#sidebar UL.nice-menu-right LI LI A:visited {
	BACKGROUND: #053561; COLOR: #ffd457
}
#sidebar UL.nice-menu-right LI LI A:link {
	BACKGROUND: #053561; COLOR: #ffd457
}
#sidebar UL.nice-menu-right LI LI A:hover {
	BACKGROUND: #ffd457; COLOR: #053561
}
#sidebar UL.nice-menu-right LI LI A:focus {
	BACKGROUND: #ffd457; COLOR: #053561
}
#sidebar UL.nice-menu-right LI LI.over A {
	BACKGROUND: #ffd457; COLOR: #053561
}
#footWrapper {
	BACKGROUND: url(/images/bottomBg.jpg) #044d82 no-repeat center top; MIN-HEIGHT: 205px
}
#foot H2 {
	DISPLAY: none
}
#block-menu-secondary-links {
	FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 60px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#block-menu-secondary-links .menu LI {
	LIST-STYLE-TYPE: none; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#block-menu-secondary-links .menu LI A {
	BORDER-RIGHT: #03325e 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; DISPLAY: block; PADDING-RIGHT: 7px
}
#block-menu-secondary-links .menu LI A:link {
	COLOR: #03325e; TEXT-DECORATION: none
}
#block-menu-secondary-links .menu LI A:visited {
	COLOR: #03325e; TEXT-DECORATION: none
}
#block-menu-secondary-links .menu LI A:hover {
	TEXT-DECORATION: underline
}
#block-menu-secondary-links .menu LI A:focus {
	TEXT-DECORATION: underline
}
.copyright {
	FONT-SIZE: 90%; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 15px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; PADDING-RIGHT: 0px
}
#block-menu-secondary-links .menu LI.last A {
	BORDER-RIGHT-STYLE: none
}
#textSize {
	FONT-SIZE: 90%; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 4px 0px; PADDING-RIGHT: 0px
}
#textSize LI {
	DISPLAY: inline
}
#textSize .largeText A:link {
	COLOR: #053561
}
#textSize .largeText A:visited {
	COLOR: #053561
}
#textSize .smallText A:link {
	COLOR: #053561
}
#textSize .smallText A:visited {
	COLOR: #053561
}
#block-google_cse-0 {
	RIGHT: 45px; POSITION: absolute; TOP: 5px
}
#block-google_cse-0 H2 {
	DISPLAY: none
}
.section-search #tabs-wrapper {
	DISPLAY: none
}
#edit-sa {
	BORDER-TOP-STYLE: none; FONT-SIZE: 1em; BORDER-LEFT-STYLE: none; FONT-FAMILY: "Trebuchet MS",verdana, sans-serif; BACKGROUND: #ffd457; BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; COLOR: #053a6c; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 7px; PADDING-RIGHT: 7px
}
#edit-query {
	FONT-SIZE: 1em; BORDER-TOP: #053561 1px solid; FONT-FAMILY: "Trebuchet MS",verdana, sans-serif; BORDER-RIGHT: #053561 1px solid; BORDER-BOTTOM: #053561 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #053561 1px solid; PADDING-RIGHT: 3px; WIDTH: 120px
}
INPUT#edit-query {
	BACKGROUND: #fff
}
TABLE.timeSchedule {
	BORDER-COLLAPSE: separate
}
.timeSchedule TD {
	BORDER-TOP: #053561 1px solid; BORDER-RIGHT: #053561 1px solid; BORDER-BOTTOM: #053561 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 4px; BORDER-LEFT: #053561 1px solid; PADDING-RIGHT: 4px; -moz-box-shadow: 2px 2px 5px #2b2b2b; -webkit-box-shadow: 2px 2px 5px #2b2b2b; box-shadow: 2px 2px 5px #2b2b2b
}
.timeSchedule TH {
	BORDER-TOP: #053561 1px solid; BORDER-RIGHT: #053561 1px solid; BORDER-BOTTOM: #053561 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 4px; BORDER-LEFT: #053561 1px solid; PADDING-RIGHT: 4px; -moz-box-shadow: 2px 2px 5px #2b2b2b; -webkit-box-shadow: 2px 2px 5px #2b2b2b; box-shadow: 2px 2px 5px #2b2b2b
}
.timeSchedule TH {
	BACKGROUND: url(/images/thBg.gif) #063662 repeat-x left top; COLOR: #fff
}
.updated-schedule-date {
	FONT-SIZE: 80%; MARGIN: 4px 0px 4px 7px
}
#page-timeschedule H3 {
	MARGIN: 15px 0px 4px 7px
}
.site-map-menu LI.expanded {
	LIST-STYLE-TYPE: none
}
.site-map-menu LI.leaf {
	LIST-STYLE-TYPE: none
}
.site-map-box H2 {
	DISPLAY: none
}
BODY#tinymce {
	BACKGROUND: #fff
}

